# Python
*.egg-info/
*.pyc
MANIFEST
build/
dist/

# Test tools
*,cover
*.cover
.cache/
.coverage
.figleaf
.hypothesis/
.tox/

# Tools
.ruff-cache/

# Emacs
*~
.\#*
TAGS
\#*\#

# Environments
.direnv/
venv/
.pdm-python

# System specific cruft
*.core
.DS_Store
