# Python
*.egg-info/
*.pyc
MANIFEST
build/
dist/

# Test tools
*,cover
*.cover
.cache/
.coverage
.figleaf
.tox/

# Tools
.ruff-cache/

# Emacs
*~
.\#*
TAGS
\#*\#

# Environments
.direnv/
venv/
.pdm.toml

# System specific cruft
*.core
.DS_Store
